// font family
$titles-font: "Poppins", sans-serif;
$text-font: "Rubik", sans-serif;

// sizes
$Emphasis: 6rem;
$h1-size: 5.2rem;
$h2-size: 4.2rem;
$h3-size: 2.4rem;
$h4-size: 2.2rem;
$h5-size: 2rem;
$h6-size: 1.8rem;
$p-size: 1.6rem;
$input-size: 1.4rem;
$p-size-mobile: 1.2rem;
$h3-size-mobile: 20px;