@use "../../global/" as *;

.layout-container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
  }

.content-container {
    flex: 1;  
    background-color: $bg-gray;
    // padding: 0.3rem;
  }

  .scroll-up {
    position: fixed;
    font-size: 2.5rem;
    color: white;
    background-color: $text-blue;
    border: 3px solid white;
    width: 2rem;
    height: 2rem;
    bottom: 5rem;
    right: 5rem;
    z-index: 2000;
    display: none;
    align-items: center;
    text-align: center;
    justify-content: center;
    padding: 2rem;
    cursor: pointer;
    border-radius: 20%;
  }
  
  .show-scroll {
    display: flex;
  }