@use "../../global/" as *;

.our-team-container {
    padding: 20rem 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    gap: 2rem;
    text-align: center;
    margin: 20px;
    z-index: 2;

    
  .bg-shape {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 1;
  
    @media (max-width: 800px) {
      display: none;
    }
  }
    
    .content{
      h2 {
        position: relative;
        font-size: $h2-size;
        text-align: center;
        color: $text-black; 
        z-index: 1; 
    }
    
    h2::after {
        content: "";
        position: absolute;
        width: 100%;
        height: 5px; 
        bottom: 0;
        left: 0;
        background: $text-orange; 
        visibility: hidden;
        transform: scaleX(0);
        transition: transform 0.5s ease-in-out, visibility 0.5s ease;
        z-index: 1; 
    }
    
    h2:hover::after {
        visibility: visible;
        transform: scaleX(1);
    }
    
    h2:hover {
        color: $text-black; 
        z-index: 2; 
    }
    
    @media (max-width: 768px) {
      padding: 8rem 1rem;
    }
  }
  
  .team-members {
    display: grid;
    // grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-template-columns: repeat(4, 1fr);
    grid-auto-rows: minmax(180px, auto);
    grid-auto-flow: dense;
    gap: 2rem;
  
    @media (max-width: 768px) {
      grid-template-columns: 1fr;
    }
  }
}
  